
button {
  @extend .white;
  @extend .text-uppercase;
}

.btn-reveal {
  font-weight: 700;
  letter-spacing: 2px;
  padding: $padding * 2;
}

button[type=submit] {
  @extend .text-uppercase;
  background: $blue;
  &:hover {
    background: $black;
  }
}

