
// main-header
.main-header {
  background: url("https://images.unsplash.com/photo-1414146782248-462e06300dbf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5a9b3a32e4dbe24adb893d775693510d");
  @extend .background-default;
  @extend .background-attachment;
}

// navigation
.title-bar,
.top-bar,
.top-bar ul {
  background: transparent;
  .drop-menu {
    background: $black;
    border: none;
    a {
      &:hover {
        color: $gold;
      }
    }
  }
}

.hero {
  padding: $padding * 54 0 $padding * 84;
  @media only screen and (min-width: 40em) {
    padding: $padding * 72 0 $padding * 108;
  }
}

// Work 
.work {
  .work-section {
    border-bottom: 2px solid $white;
    font-weight: 700;
    padding: $padding * 56 0;
    @media only screen and (min-width: 40em) {
      padding: $padding * 84 0;
    }
    @media only screen and (min-width: 64em) {
      padding: $padding * 108 0; 
    }
    a {
      padding: $padding * 2.5 $padding *5;
    }
  }
}

.work-header,
.about-header,
.contact-header,
.web-header {
  padding: $padding * 24 0 $padding * 48;
}

.web,
.design,
.photography {
  a {
    border: 2px solid $white;
    color: $white;
    &:hover {
      background: $white;
    }
  }
}

.web {
  background: $black-overlay, url("../images/macbook.jpg");
  @extend .background-default;
  a:hover {
    color: $black;
  }
}
.design {
  background: $gold-overlay, url("../images/notebook.jpg");
  @extend .background-default;
  a:hover {
    color: $gold;
  }
}
.photography {
  background: $blue-overlay, url("../images/camera.jpg");
  @extend .background-default;
  a:hover {
    color: $blue;
  }
}

.contact {
  margin-bottom: $margin * 18;
form {
  [type="text"], 
  [type="email"] {
    height: 1.875em;
    margin-bottom: $margin * 4;
    padding: 0 .5rem;
  }
  textarea {
    height: 5.25rem;
    }
  }
}

.main-footer {
  background: url("https://images.unsplash.com/photo-1446034295857-c39f8844fad4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=231736de0bc92d79a6ee049208b9c283");
  @extend .background-default;
  @extend .background-attachment;
  padding-top: $padding * 8;
}

///////////////////////////
/// project pages ///
//////////////////////////
.project-initial {
  margin-bottom: $margin * 12;
  padding: $padding * 48 0;
  @media only screen and (min-width: 40em) {
    padding: $padding * 56 0;
  }
  @media only screen and (min-width: 64em) {
    margin-bottom: $margin * 14;
    padding: $padding * 64 0;
  }
}

.project-click {
  margin-bottom: $margin * 12;
  padding: $padding * 24 0;
  @media only screen and (min-width: 40em) {
    padding: $padding * 24 0;
  }
  @media only screen and (min-width: 64em) {
    margin-bottom: $margin * 14;
    padding: $padding * 30 0;
  }
}

/////////////////////////////////////////////
/// web design & development ///
////////////////////////////////////////////
.project-1 {
  background: $black-overlay, url("../images/aerom.png");
  @extend .background-default;
}

.project-2 {
  background: $gold-overlay, url("../images/digim.png");
  @extend .background-default;
}

.project-3 {
  background: $black-overlay, url("../images/ocean_blue.png");
  @extend .background-default;
}

.project-4 {
  background: $gold-overlay, url("../images/movie_api.png");
  @extend .background-default;
}

.project-5 {
  background: $black-overlay, url("../images/form.png");
  @extend .background-default;
}

.project-6 {
  background: $gold-overlay, url("../images/coffee_lab.png");
  @extend .background-default;
}
