
// main-header
.main-header {
  background: url("https://images.unsplash.com/photo-1414146782248-462e06300dbf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5a9b3a32e4dbe24adb893d775693510d");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

// navigation
.title-bar,
.top-bar,
.top-bar ul {
  background: transparent;
}

.hero {
  padding: $padding * 54 0 $padding * 84;
  @media only screen and (min-width: 40em) {
    padding: $padding * 72 0 $padding * 108;
  }
}

// Work 
.work {
  .work-section {
    border-bottom: 2px solid $white;
    font-weight: 700;
    padding: $padding * 56 0;
    @media only screen and (min-width: 40em) {
      padding: $padding * 84 0;
    }
    @media only screen and (min-width: 64em) {
      padding: $padding * 108 0; 
    }
    a {
      padding: $padding * 2.5 $padding *5;
    }
  }
}

.work-header,
.about-header {
  padding: $padding * 24 0 $padding * 48;
}

.web,
.design,
.photography {
  a {
    border: 2px solid $white;
    color: $white;
    &:hover {
      background: $white;
    }
  }
}

.web {
  background: $black-overlay, url("../images/macbook.jpg");
  @extend .background-default;
  a:hover {
    color: $black;
  }
}
.design {
  background: $gold-overlay, url("../images/notebook.jpg");
  @extend .background-default;
  a:hover {
    color: $gold;
  }
}
.photography {
  background: $blue-overlay, url("../images/camera.jpg");
  @extend .background-default;
  a:hover {
    color: $blue;
  }
}
