
// Colors 
$white: #fff; /* White */
$black: lighten(#2b2626, 20%); /* Black */
$gold: #C29B71;
$blue: #1780ba;

// Overlays
$black-overlay: linear-gradient(rgba(43,38,38,.75), rgba(43,38,38,.75));
$gold-overlay: linear-gradient(rgba(194,155,112,.75),rgba(194,155,112,.75));
$secondary-gold-overlay: linear-gradient(rgba(194,155,112,.95),rgba(194,155,112,.95));
$blue-overlay: linear-gradient(rgba(23, 128, 186, 0.75), rgba(23, 128, 186, 0.75));

/* Social Media colors */
$twitter: #00aced;
$instagram: #833ab4;
$github: #4183c4;
$behance: #1769ff;

// Font Families 
$primary-font: "Yantramanav", Helvetica, Verdana, Arial, sans-serif; 
$secondary-font: "Mate", Georgia,  serif;

// Font Sizes
$primary-heading: 5.063em;
$secondary-heading: 4.275em;
$third-heading: 2.25em;
$fourth-heading: 1.5em;
$base-font-size: 1em;
$small-font-size: 0.85em;

// Margins & Padding
$margin: 2px;
$padding: 2px;
