
// Colors 
$white: #fff; /* White */
$black: lighten(#2b2626, 20%); /* Black */

// Font Families 
$primary-font: "Yantramanav"; 

// Font Sizes
$primary-heading: 5.063em;
$secondary-heading: 3.375em;
$third-heading: 2.25em;
$fourth-heading: 1.5em;
$base-font-size: 1em;
$small-font-size: 0.85em;

// Margins & Padding
$margin: 2px;
$padding: 2px;
