/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* White */
/* Black */
/* Social Media colors */
/* line 3, ../sass/_layout.scss */
.main-header {
  background: linear-gradient(rgba(43, 38, 38, 0.25), rgba(43, 38, 38, 0.25)), url("https://images.unsplash.com/photo-1414146782248-462e06300dbf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5a9b3a32e4dbe24adb893d775693510d"), #615656;
}

/* line 10, ../sass/_layout.scss */
.title-bar,
.top-bar,
.top-bar ul {
  background: transparent;
}
/* line 14, ../sass/_layout.scss */
.title-bar .drop-menu,
.top-bar .drop-menu,
.top-bar ul .drop-menu {
  background: #615656;
  border: none;
}
/* line 18, ../sass/_layout.scss */
.title-bar .drop-menu a:hover,
.top-bar .drop-menu a:hover,
.top-bar ul .drop-menu a:hover {
  color: #C29B71;
}

/* line 25, ../sass/_layout.scss */
.hero {
  padding: 108px 0 168px;
}
@media only screen and (min-width: 40em) {
  /* line 25, ../sass/_layout.scss */
  .hero {
    padding: 144px 0 216px;
  }
}

/* line 34, ../sass/_layout.scss */
.work .work-section {
  border-bottom: 2px solid #fff;
  font-weight: 700;
  padding: 112px 0;
}
@media only screen and (min-width: 40em) {
  /* line 34, ../sass/_layout.scss */
  .work .work-section {
    padding: 168px 0;
  }
}
@media only screen and (min-width: 64em) {
  /* line 34, ../sass/_layout.scss */
  .work .work-section {
    padding: 216px 0;
  }
}
/* line 44, ../sass/_layout.scss */
.work .work-section a {
  padding: 5px 10px;
}

/* line 51, ../sass/_layout.scss */
.work-header,
.about-header,
.contact-header {
  padding: 24px 0 36px;
}
@media only screen and (min-width: 40em) {
  /* line 51, ../sass/_layout.scss */
  .work-header,
  .about-header,
  .contact-header {
    padding: 48px 0 96px;
  }
}

/* line 61, ../sass/_layout.scss */
.web-header,
.design-header {
  padding: 48px 0 96px;
}

/* line 69, ../sass/_layout.scss */
.web a,
.design a,
.photography a {
  border: 2px solid #fff;
  color: #fff;
}
/* line 72, ../sass/_layout.scss */
.web a:hover,
.design a:hover,
.photography a:hover {
  background: #fff;
}

/* line 78, ../sass/_layout.scss */
.web {
  background: linear-gradient(rgba(43, 38, 38, 0.75), rgba(43, 38, 38, 0.75)), url("../images/macbook.jpg"), #615656;
}
/* line 81, ../sass/_layout.scss */
.web a:hover {
  color: #615656;
}

/* line 85, ../sass/_layout.scss */
.design {
  background: linear-gradient(rgba(194, 155, 112, 0.75), rgba(194, 155, 112, 0.75)), url("../images/notebook.jpg"), #C29B71;
}
/* line 88, ../sass/_layout.scss */
.design a:hover {
  color: #C29B71;
}

/*
.photography {
  background: $blue-overlay, url("../images/camera.jpg");
  @extend .background-default;
  a:hover {
    color: $blue;
  }
}
*/
@media only screen and (min-width: 64em) {
  /* line 102, ../sass/_layout.scss */
  .subjects {
    padding: 18px 0;
  }
}

/* line 108, ../sass/_layout.scss */
.contact {
  margin-bottom: 36px;
}
/* line 111, ../sass/_layout.scss */
.contact form [type="text"],
.contact form [type="email"] {
  height: 1.875em;
  margin-bottom: 8px;
  padding: 0 .5rem;
}
/* line 117, ../sass/_layout.scss */
.contact form textarea {
  height: 5.25rem;
}

/* line 123, ../sass/_layout.scss */
.main-footer {
  background: url("https://images.unsplash.com/photo-1446034295857-c39f8844fad4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=231736de0bc92d79a6ee049208b9c283"), #615656;
  padding-top: 16px;
}

/* line 132, ../sass/_layout.scss */
.project-initial {
  margin-bottom: 24px;
  padding: 96px 0;
}
@media only screen and (min-width: 40em) {
  /* line 132, ../sass/_layout.scss */
  .project-initial {
    padding: 112px 0;
  }
}
@media only screen and (min-width: 64em) {
  /* line 132, ../sass/_layout.scss */
  .project-initial {
    margin-bottom: 28px;
    padding: 128px 0;
  }
}

/* line 144, ../sass/_layout.scss */
.project-click {
  margin-bottom: 24px;
  padding: 48px 0;
}
@media only screen and (min-width: 40em) {
  /* line 144, ../sass/_layout.scss */
  .project-click {
    padding: 48px 0;
  }
}
@media only screen and (min-width: 64em) {
  /* line 144, ../sass/_layout.scss */
  .project-click {
    margin-bottom: 28px;
    padding: 60px 0;
  }
}

/* line 159, ../sass/_layout.scss */
.web-project-1 {
  background: linear-gradient(rgba(43, 38, 38, 0.75), rgba(43, 38, 38, 0.75)), url("../images/aerom.png"), #615656;
}

/* line 163, ../sass/_layout.scss */
.web-project-2 {
  background: linear-gradient(rgba(194, 155, 112, 0.95), rgba(194, 155, 112, 0.95)), url("../images/digim.png"), #C29B71;
}

/* line 167, ../sass/_layout.scss */
.web-project-3 {
  background: linear-gradient(rgba(43, 38, 38, 0.75), rgba(43, 38, 38, 0.75)), url("../images/ocean_blue.png"), #615656;
}

/* line 171, ../sass/_layout.scss */
.web-project-4 {
  background: linear-gradient(rgba(194, 155, 112, 0.95), rgba(194, 155, 112, 0.95)), url("../images/movie_api.png"), #C29B71;
}

/* line 175, ../sass/_layout.scss */
.web-project-5 {
  background: linear-gradient(rgba(43, 38, 38, 0.75), rgba(43, 38, 38, 0.75)), url("../images/form.png"), #615656;
}

/* line 179, ../sass/_layout.scss */
.web-project-6 {
  background: linear-gradient(rgba(194, 155, 112, 0.95), rgba(194, 155, 112, 0.95)), url("../images/coffee_lab.png"), #C29B71;
}

/* line 187, ../sass/_layout.scss */
.design-project-1 {
  background: linear-gradient(rgba(43, 38, 38, 0.75), rgba(43, 38, 38, 0.75)), url("../images/compass.jpg"), #615656;
}

/* line 191, ../sass/_layout.scss */
.design-project-2 {
  background: linear-gradient(rgba(194, 155, 112, 0.95), rgba(194, 155, 112, 0.95)), url("../images/Aerom_Landing_Page.jpg"), #C29B71;
}

/* line 195, ../sass/_layout.scss */
.design-project-3 {
  background: linear-gradient(rgba(43, 38, 38, 0.75), rgba(43, 38, 38, 0.75)), url("../images/evergreen_collective.jpg"), #615656;
}

/* line 199, ../sass/_layout.scss */
.design-project-4 {
  background: linear-gradient(rgba(194, 155, 112, 0.95), rgba(194, 155, 112, 0.95)), url("../images/Lemon_Twist.jpg"), #C29B71;
}

/* line 3, ../sass/_typography.scss */
body {
  color: #615656;
  font-family: "Yantramanav", Helvetica, Verdana, Arial, sans-serif;
}

/* line 8, ../sass/_typography.scss */
h2,
h3 {
  font-family: "Yantramanav", Helvetica, Verdana, Arial, sans-serif;
}

/* line 14, ../sass/_typography.scss */
h2 {
  font-size: 2.25em;
  font-weight: 700;
  margin: 0;
}
@media only screen and (min-width: 40em) {
  /* line 14, ../sass/_typography.scss */
  h2 {
    font-size: 4.275em;
  }
}

/* line 23, ../sass/_typography.scss */
h3 {
  font-size: 1.5em;
  font-weight: 700;
  padding-top: 24px;
}
@media only screen and (min-width: 40em) {
  /* line 23, ../sass/_typography.scss */
  h3 {
    font-size: 2.25em;
    padding-top: 36px;
    text-align: center;
  }
}

/* line 34, ../sass/_typography.scss */
p {
  line-height: 1.8;
  font-family: "Mate", Georgia, serif;
  font-size: 0.85em;
}
@media only screen and (min-width: 40em) {
  /* line 34, ../sass/_typography.scss */
  p {
    font-size: 1em;
  }
}

/* line 43, ../sass/_typography.scss */
li {
  list-style: none;
}

/* line 49, ../sass/_typography.scss */
.main-header h1,
.main-header a {
  font-family: "Yantramanav", Helvetica, Verdana, Arial, sans-serif;
}
/* line 55, ../sass/_typography.scss */
.main-header h1 {
  font-size: 4.275em;
}
@media only screen and (min-width: 40em) {
  /* line 55, ../sass/_typography.scss */
  .main-header h1 {
    font-size: 5.063em;
  }
}

/* line 66, ../sass/_typography.scss */
.menu a:hover {
  color: #2b2626;
}

/* line 72, ../sass/_typography.scss */
.dropdown.menu > li.is-dropdown-submenu-parent > a:after {
  border-color: #fff transparent transparent;
  right: 10px;
  top: 16px;
}

/* line 80, ../sass/_typography.scss */
.main-header li > a,
.main-footer li > a {
  font-size: 0.85em;
  padding: .75em;
}

/* line 92, ../sass/_typography.scss */
.work-header span,
.about-header span,
.contact-header span,
.web-header span {
  font-size: 1em;
}
@media only screen and (min-width: 64em) {
  /* line 92, ../sass/_typography.scss */
  .work-header span,
  .about-header span,
  .contact-header span,
  .web-header span {
    font-size: 1.5em;
  }
}

/* line 103, ../sass/_typography.scss */
.about p:last-of-type {
  margin-bottom: 12px;
}
/* line 107, ../sass/_typography.scss */
.about ul {
  margin-left: 0;
}
@media only screen and (min-width: 40em) {
  /* line 107, ../sass/_typography.scss */
  .about ul {
    margin-left: 1.25rem;
  }
}
/* line 112, ../sass/_typography.scss */
.about ul li {
  display: inline;
  font-size: 1em;
  font-weight: 500;
}
@media only screen and (min-width: 64em) {
  /* line 112, ../sass/_typography.scss */
  .about ul li {
    font-size: 1.5em;
  }
}

/* line 128, ../sass/_typography.scss */
.social-media {
  margin-top: 24px;
}
/* line 130, ../sass/_typography.scss */
.social-media a {
  color: #C29B71;
  font-size: 1.5em;
  margin: 0 8px;
}
/* line 136, ../sass/_typography.scss */
.social-media i:hover {
  animation-name: social-hover;
  animation-duration: .84s;
}

/* line 145, ../sass/_typography.scss */
.fa-twitter:hover {
  color: #00aced;
}

/* line 150, ../sass/_typography.scss */
.fa-instagram:hover {
  color: #833ab4;
}

/* line 155, ../sass/_typography.scss */
.fa-github:hover {
  color: #4183c4;
}

/* line 160, ../sass/_typography.scss */
.fa-behance-square:hover {
  color: #1769ff;
}

/* line 165, ../sass/_typography.scss */
.project-header {
  margin-bottom: 0;
}

/* line 169, ../sass/_typography.scss */
.btn-wrap {
  margin-top: 48px;
}
/* line 172, ../sass/_typography.scss */
.btn-wrap button,
.btn-wrap a {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 16px;
}

/* line 182, ../sass/_typography.scss */
.project-p {
  padding: 0 18px;
}
/* line 186, ../sass/_typography.scss */
.project-p .project-a:hover {
  color: #615656;
}

/* line 7, ../sass/_buttons.scss */
.btn-reveal {
  font-weight: 700;
  letter-spacing: 2px;
  padding: 4px;
}

/* line 13, ../sass/_buttons.scss */
button[type=submit] {
  background: #615656;
}
/* line 16, ../sass/_buttons.scss */
button[type=submit]:hover {
  background: #C29B71;
}

@keyframes social-hover {
  50% {
    transform: scale(1.25);
  }
}
/* line 2, ../sass/_extend.scss */
.white, .main-header h1,
.main-header a, .main-header li > a,
.main-footer li > a, .btn-wrap button,
.btn-wrap a, .project-p, button {
  color: #fff;
}

/* line 6, ../sass/_extend.scss */
.text-uppercase, h2,
h3, .main-header h1,
.main-header a, .main-header li > a,
.main-footer li > a, .btn-wrap, button, button[type=submit] {
  text-transform: uppercase;
}

/* line 10, ../sass/_extend.scss */
.background-default, .main-header, .web, .design, .main-footer, .web-project-1, .web-project-2, .web-project-3, .web-project-4, .web-project-5, .web-project-6, .design-project-1, .design-project-2, .design-project-3, .design-project-4 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 16, ../sass/_extend.scss */
.a-text, a[href*="http://"] {
  color: #1780ba;
  font-family: "Yantramanav", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 700;
}
/* line 20, ../sass/_extend.scss */
.a-text:hover, a[href*="http://"]:hover {
  color: #C29B71;
}
