/* line 5, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* White */
/* Black */
/* Social Media colors */
/* line 3, ../sass/_layout.scss */
.main-header {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiMjYyNiIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmIyNjI2IiBzdG9wLW9wYWNpdHk9IjAuMjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='), url("https://images.unsplash.com/photo-1414146782248-462e06300dbf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5a9b3a32e4dbe24adb893d775693510d"), #615656;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(43, 38, 38, 0.75)), color-stop(100%, rgba(43, 38, 38, 0.25))), url("https://images.unsplash.com/photo-1414146782248-462e06300dbf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5a9b3a32e4dbe24adb893d775693510d"), #615656;
  background: -moz-linear-gradient(rgba(43, 38, 38, 0.75), rgba(43, 38, 38, 0.25)), url("https://images.unsplash.com/photo-1414146782248-462e06300dbf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5a9b3a32e4dbe24adb893d775693510d"), #615656;
  background: -webkit-linear-gradient(rgba(43, 38, 38, 0.75), rgba(43, 38, 38, 0.25)), url("https://images.unsplash.com/photo-1414146782248-462e06300dbf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5a9b3a32e4dbe24adb893d775693510d"), #615656;
  background: linear-gradient(rgba(43, 38, 38, 0.75), rgba(43, 38, 38, 0.25)), url("https://images.unsplash.com/photo-1414146782248-462e06300dbf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5a9b3a32e4dbe24adb893d775693510d"), #615656;
}

/* line 9, ../sass/_layout.scss */
.title-bar,
.top-bar,
.top-bar ul {
  background: transparent;
}
/* line 13, ../sass/_layout.scss */
.title-bar .drop-menu,
.top-bar .drop-menu,
.top-bar ul .drop-menu {
  background: #615656;
  border: none;
}
/* line 17, ../sass/_layout.scss */
.title-bar .drop-menu a:hover,
.top-bar .drop-menu a:hover,
.top-bar ul .drop-menu a:hover {
  color: #C29B71;
}

/* line 24, ../sass/_layout.scss */
.hero {
  padding: 108px 0 168px;
}
@media only screen and (min-width: 40em) {
  /* line 24, ../sass/_layout.scss */
  .hero {
    padding: 144px 0 216px;
  }
}

/* line 33, ../sass/_layout.scss */
.work .work-section {
  border-bottom: 2px solid #fff;
  font-weight: 700;
  padding: 112px 0;
}
@media only screen and (min-width: 40em) {
  /* line 33, ../sass/_layout.scss */
  .work .work-section {
    padding: 168px 0;
  }
}
@media only screen and (min-width: 64em) {
  /* line 33, ../sass/_layout.scss */
  .work .work-section {
    padding: 216px 0;
  }
}
/* line 43, ../sass/_layout.scss */
.work .work-section a {
  padding: 5px 10px;
}

/* line 50, ../sass/_layout.scss */
.work-header,
.about-header,
.contact-header {
  padding: 24px 0 36px;
}
@media only screen and (min-width: 40em) {
  /* line 50, ../sass/_layout.scss */
  .work-header,
  .about-header,
  .contact-header {
    padding: 48px 0 96px;
  }
}

/* line 60, ../sass/_layout.scss */
.web-header,
.design-header {
  padding: 48px 0 96px;
}

/* line 68, ../sass/_layout.scss */
.web a,
.design a,
.photography a {
  border: 2px solid #fff;
  color: #fff;
}
/* line 71, ../sass/_layout.scss */
.web a:hover,
.design a:hover,
.photography a:hover {
  background: #fff;
}

/* line 77, ../sass/_layout.scss */
.web {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiMjYyNiIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmIyNjI2IiBzdG9wLW9wYWNpdHk9IjAuNzUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='), url('../images/macbook.jpg?1463318805'), #615656;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(43, 38, 38, 0.75)), color-stop(100%, rgba(43, 38, 38, 0.75))), url('../images/macbook.jpg?1463318805'), #615656;
  background: -moz-linear-gradient(rgba(43, 38, 38, 0.75), rgba(43, 38, 38, 0.75)), url('../images/macbook.jpg?1463318805'), #615656;
  background: -webkit-linear-gradient(rgba(43, 38, 38, 0.75), rgba(43, 38, 38, 0.75)), url('../images/macbook.jpg?1463318805'), #615656;
  background: linear-gradient(rgba(43, 38, 38, 0.75), rgba(43, 38, 38, 0.75)), url('../images/macbook.jpg?1463318805'), #615656;
}
/* line 80, ../sass/_layout.scss */
.web a:hover {
  color: #615656;
}

/* line 84, ../sass/_layout.scss */
.design {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MyOWI3MCIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzI5YjcwIiBzdG9wLW9wYWNpdHk9IjAuNzUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='), url('../images/notebook.jpg?1463318776'), #C29B71;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(194, 155, 112, 0.75)), color-stop(100%, rgba(194, 155, 112, 0.75))), url('../images/notebook.jpg?1463318776'), #C29B71;
  background: -moz-linear-gradient(rgba(194, 155, 112, 0.75), rgba(194, 155, 112, 0.75)), url('../images/notebook.jpg?1463318776'), #C29B71;
  background: -webkit-linear-gradient(rgba(194, 155, 112, 0.75), rgba(194, 155, 112, 0.75)), url('../images/notebook.jpg?1463318776'), #C29B71;
  background: linear-gradient(rgba(194, 155, 112, 0.75), rgba(194, 155, 112, 0.75)), url('../images/notebook.jpg?1463318776'), #C29B71;
}
/* line 87, ../sass/_layout.scss */
.design a:hover {
  color: #C29B71;
}

@media only screen and (min-width: 64em) {
  /* line 92, ../sass/_layout.scss */
  .subjects {
    padding: 18px 0;
  }
}

/* line 98, ../sass/_layout.scss */
.contact {
  margin-bottom: 36px;
}
/* line 101, ../sass/_layout.scss */
.contact form [type="text"],
.contact form [type="email"] {
  height: 1.875em;
  margin-bottom: 8px;
  padding: 0 .5rem;
}
/* line 107, ../sass/_layout.scss */
.contact form textarea {
  height: 5.25rem;
}

/* line 113, ../sass/_layout.scss */
.main-footer {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJiMjYyNiIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmIyNjI2IiBzdG9wLW9wYWNpdHk9IjAuMjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='), url("https://images.unsplash.com/photo-1446034295857-c39f8844fad4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=231736de0bc92d79a6ee049208b9c283"), #615656;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(43, 38, 38, 0.75)), color-stop(100%, rgba(43, 38, 38, 0.25))), url("https://images.unsplash.com/photo-1446034295857-c39f8844fad4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=231736de0bc92d79a6ee049208b9c283"), #615656;
  background: -moz-linear-gradient(rgba(43, 38, 38, 0.75), rgba(43, 38, 38, 0.25)), url("https://images.unsplash.com/photo-1446034295857-c39f8844fad4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=231736de0bc92d79a6ee049208b9c283"), #615656;
  background: -webkit-linear-gradient(rgba(43, 38, 38, 0.75), rgba(43, 38, 38, 0.25)), url("https://images.unsplash.com/photo-1446034295857-c39f8844fad4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=231736de0bc92d79a6ee049208b9c283"), #615656;
  background: linear-gradient(rgba(43, 38, 38, 0.75), rgba(43, 38, 38, 0.25)), url("https://images.unsplash.com/photo-1446034295857-c39f8844fad4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=231736de0bc92d79a6ee049208b9c283"), #615656;
  padding-top: 16px;
}

/* line 123, ../sass/_layout.scss */
.project-description {
  background: #615656;
  color: #fff;
  padding: 24px;
}
/* line 127, ../sass/_layout.scss */
.project-description li {
  display: inline-block;
}

/* line 132, ../sass/_layout.scss */
.project-initial {
  margin-bottom: 24px;
  padding: 124px 0;
  -moz-transition: 2s;
  -o-transition: 2s;
  -webkit-transition: 2s;
  transition: 2s;
}
@media only screen and (min-width: 40em) {
  /* line 132, ../sass/_layout.scss */
  .project-initial {
    padding: 144px 0;
  }
}
@media only screen and (min-width: 64em) {
  /* line 132, ../sass/_layout.scss */
  .project-initial {
    margin-bottom: 28px;
    padding: 156px 0;
  }
}

/* line 145, ../sass/_layout.scss */
.project-click {
  margin-bottom: 24px;
  -moz-transition: 2s;
  -o-transition: 2s;
  -webkit-transition: 2s;
  transition: 2s;
}
@media only screen and (min-width: 64em) {
  /* line 145, ../sass/_layout.scss */
  .project-click {
    margin-bottom: 28px;
  }
}

/* line 158, ../sass/_layout.scss */
.dapper {
  border: 1px solid #615656;
  background: url('../images/dapper.png?1470711986'), #615656;
}

/* line 164, ../sass/_layout.scss */
.aerom-web {
  border: 1px solid #615656;
  background: url('../images/aerom.png?1466737915'), #615656;
}

/* line 169, ../sass/_layout.scss */
.digim {
  border: 1px solid #615656;
  background: url('../images/digim.png?1466737915'), #C29B71;
}

/* line 174, ../sass/_layout.scss */
.ocean_blue {
  border: 1px solid #615656;
  background: url('../images/ocean_blue.png?1466737915'), #615656;
}

/* line 179, ../sass/_layout.scss */
.movie_api {
  border: 1px solid #615656;
  background: url('../images/movie_api.png?1466737915'), #C29B71;
}

/* line 184, ../sass/_layout.scss */
.summit {
  border: 1px solid #615656;
  background: url('../images/form.png?1466737915'), #615656;
}

/* line 189, ../sass/_layout.scss */
.coffee_lab {
  border: 1px solid #615656;
  background: url('../images/coffee_lab.png?1466737915'), #C29B71;
}

/* line 198, ../sass/_layout.scss */
.mirage {
  border: 1px solid #615656;
  background: url('../images/mirage.png?1470710565'), #C29B71;
}

/* line 204, ../sass/_layout.scss */
.compass {
  border: 1px solid #615656;
  background: url('../images/compass.jpg?1466737915'), #615656;
}

/* line 209, ../sass/_layout.scss */
.aerom-markup {
  border: 1px solid #615656;
  background: url('../images/Aerom_Landing_Page.jpg?1467090666'), #C29B71;
}

/* line 214, ../sass/_layout.scss */
.evergreen {
  border: 1px solid #615656;
  background: url('../images/evergreen_collective.jpg?1466737915'), #615656;
}

/* line 219, ../sass/_layout.scss */
.lemon_twist {
  border: 1px solid #615656;
  background: url('../images/Lemon_Twist.jpg?1466737915'), #C29B71;
}

/* line 3, ../sass/_typography.scss */
body {
  color: #615656;
  font-family: "Yantramanav", Helvetica, Verdana, Arial, sans-serif;
}

/* line 8, ../sass/_typography.scss */
h1 {
  font-size: 4.275em;
}
@media only screen and (min-width: 40em) {
  /* line 8, ../sass/_typography.scss */
  h1 {
    font-size: 5.063em;
  }
}

/* line 15, ../sass/_typography.scss */
h2,
h3 {
  font-family: "Yantramanav", Helvetica, Verdana, Arial, sans-serif;
}

/* line 21, ../sass/_typography.scss */
h2 {
  font-size: 2.25em;
  font-weight: 700;
  margin: 0;
}
@media only screen and (min-width: 40em) {
  /* line 21, ../sass/_typography.scss */
  h2 {
    font-size: 4.275em;
  }
}

/* line 30, ../sass/_typography.scss */
h3 {
  font-size: 1.5em;
  font-weight: 700;
  padding-top: 24px;
}
@media only screen and (min-width: 40em) {
  /* line 30, ../sass/_typography.scss */
  h3 {
    font-size: 2.25em;
    padding-top: 36px;
    text-align: center;
  }
}

/* line 41, ../sass/_typography.scss */
h4 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* line 47, ../sass/_typography.scss */
p {
  line-height: 1.8;
  font-family: "Mate", Georgia, serif;
  font-size: 0.85em;
}
@media only screen and (min-width: 40em) {
  /* line 47, ../sass/_typography.scss */
  p {
    font-size: 1em;
  }
}

/* line 56, ../sass/_typography.scss */
li {
  list-style: none;
}

/* line 60, ../sass/_typography.scss */
hr {
  border-bottom: 1px solid #C29B71;
}

/* line 66, ../sass/_typography.scss */
.main-header h1,
.main-header a {
  font-family: "Yantramanav", Helvetica, Verdana, Arial, sans-serif;
}

/* line 77, ../sass/_typography.scss */
.menu a:hover {
  color: #C29B71;
}

/* line 83, ../sass/_typography.scss */
.dropdown.menu > li.is-dropdown-submenu-parent > a:after {
  border-color: #fff transparent transparent;
  right: 10px;
  top: 16px;
}

/* line 91, ../sass/_typography.scss */
.main-header li > a,
.main-footer li > a {
  font-size: 0.85em;
  padding: .75em;
}

/* line 103, ../sass/_typography.scss */
.work-header span,
.about-header span,
.contact-header span,
.web-header span {
  font-size: 1em;
}
@media only screen and (min-width: 64em) {
  /* line 103, ../sass/_typography.scss */
  .work-header span,
  .about-header span,
  .contact-header span,
  .web-header span {
    font-size: 1.5em;
  }
}

/* line 114, ../sass/_typography.scss */
.about p:last-of-type {
  margin-bottom: 12px;
}
/* line 118, ../sass/_typography.scss */
.about ul {
  margin-left: 0;
}
@media only screen and (min-width: 40em) {
  /* line 118, ../sass/_typography.scss */
  .about ul {
    margin-left: 1.25rem;
  }
}
/* line 123, ../sass/_typography.scss */
.about ul li {
  display: inline;
  font-size: 1em;
  font-weight: 500;
}
@media only screen and (min-width: 64em) {
  /* line 123, ../sass/_typography.scss */
  .about ul li {
    font-size: 1.5em;
  }
}

/* line 134, ../sass/_typography.scss */
a[href*="http://"],
a[href*="https://"],
a[href*="mailto"] {
  color: #C29B71;
  font-family: "Yantramanav", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 700;
}
/* line 140, ../sass/_typography.scss */
a[href*="http://"]:hover,
a[href*="https://"]:hover,
a[href*="mailto"]:hover {
  text-decoration: underline;
  text-transform: uppercase;
}

/* line 147, ../sass/_typography.scss */
.social-media {
  margin-top: 24px;
}
/* line 149, ../sass/_typography.scss */
.social-media a {
  color: #C29B71;
  font-size: 1.5em;
  margin: 0 8px;
}
/* line 155, ../sass/_typography.scss */
.social-media i:hover {
  animation-name: social-hover;
  animation-duration: .84s;
}

/* line 164, ../sass/_typography.scss */
.fa-twitter:hover {
  color: #00aced;
}

/* line 169, ../sass/_typography.scss */
.fa-instagram:hover {
  color: #833ab4;
}

/* line 175, ../sass/_typography.scss */
.fa-github:hover {
  color: #4183c4;
}

/* line 180, ../sass/_typography.scss */
.fa-behance-square:hover {
  color: #1769ff;
}

/* line 185, ../sass/_typography.scss */
.project-header {
  margin-bottom: 0;
}

/* line 6, ../sass/_buttons.scss */
.btn-reveal {
  color: #615656;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 24px;
  padding: 4px;
}

/* line 15, ../sass/_buttons.scss */
.btn-wrap {
  margin: 24px 0;
}
@media only screen and (min-width: 40em) {
  /* line 15, ../sass/_buttons.scss */
  .btn-wrap {
    margin-top: 36px;
  }
}
/* line 21, ../sass/_buttons.scss */
.btn-wrap button,
.btn-wrap a {
  color: #615656;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 16px;
}

/* line 32, ../sass/_buttons.scss */
button[type=submit] {
  background: #615656;
}
/* line 35, ../sass/_buttons.scss */
button[type=submit]:hover {
  background: #C29B71;
}

/* line 2, ../sass/_logos.scss */
.light-logo {
  margin-right: -11px;
  vertical-align: middle;
  width: 57px;
}
@media only screen and (min-width: 40em) {
  /* line 2, ../sass/_logos.scss */
  .light-logo {
    width: 67.75px;
  }
}

@keyframes social-hover {
  50% {
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
}
/* line 2, ../sass/_extend.scss */
.white, .main-header h1,
.main-header a, .main-header li > a,
.main-footer li > a {
  color: #fff;
}

/* line 6, ../sass/_extend.scss */
.text-uppercase, h2,
h3, h4, .main-header h1,
.main-header a, .main-header li > a,
.main-footer li > a, button, .btn-wrap, button[type=submit] {
  text-transform: uppercase;
}

/* line 10, ../sass/_extend.scss */
.background-default, .main-header, .web, .design, .main-footer, .dapper, .aerom-web, .digim, .ocean_blue, .movie_api, .summit, .coffee_lab, .mirage, .compass, .aerom-markup, .evergreen, .lemon_twist {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 17, ../sass/_extend.scss */
btn-hover:hover, .btn-reveal:hover, .btn-wrap button:hover,
.btn-wrap a:hover {
  color: #2b2626;
}
