/* White */
/* Black */
/* Social Media colors */
.main-header {
  background: url("https://images.unsplash.com/photo-1414146782248-462e06300dbf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5a9b3a32e4dbe24adb893d775693510d"); }

.title-bar,
.top-bar,
.top-bar ul {
  background: transparent; }

.hero {
  padding: 108px 0 168px; }
  @media only screen and (min-width: 40em) {
    .hero {
      padding: 144px 0 216px; } }

.work .work-section {
  border-bottom: 2px solid #fff;
  font-weight: 700;
  padding: 112px 0; }
  @media only screen and (min-width: 40em) {
    .work .work-section {
      padding: 168px 0; } }
  @media only screen and (min-width: 64em) {
    .work .work-section {
      padding: 216px 0; } }
  .work .work-section a {
    padding: 5px 10px; }

.work-header,
.about-header,
.contact-header {
  padding: 48px 0 96px; }

.web a,
.design a,
.photography a {
  border: 2px solid #fff;
  color: #fff; }
  .web a:hover,
  .design a:hover,
  .photography a:hover {
    background: #fff; }

.web {
  background: linear-gradient(rgba(43, 38, 38, 0.75), rgba(43, 38, 38, 0.75)), url("../images/macbook.jpg"); }
  .web a:hover {
    color: #615656; }

.design {
  background: linear-gradient(rgba(194, 155, 112, 0.75), rgba(194, 155, 112, 0.75)), url("../images/notebook.jpg"); }
  .design a:hover {
    color: #C29B71; }

.photography {
  background: linear-gradient(rgba(23, 128, 186, 0.75), rgba(23, 128, 186, 0.75)), url("../images/camera.jpg"); }
  .photography a:hover {
    color: #1780ba; }

.contact {
  margin-bottom: 36px; }
  .contact form [type="text"],
  .contact form [type="email"] {
    height: 1.875em;
    margin-bottom: 8px;
    padding: 0 .5rem; }
  .contact form textarea {
    height: 5.25rem; }

.main-footer {
  background: url("https://images.unsplash.com/photo-1446034295857-c39f8844fad4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=231736de0bc92d79a6ee049208b9c283");
  padding-top: 16px; }

body {
  color: #615656;
  font-family: "Yantramanav", Helvetica, Verdana, Arial, sans-serif; }

p {
  line-height: 1.8;
  font-family: "Mate", serif;
  font-size: 0.85em; }
  @media only screen and (min-width: 40em) {
    p {
      font-size: 1em; } }

li {
  list-style: none; }

.main-header h1,
.main-header a {
  font-family: "Yantramanav", Helvetica, Verdana, Arial, sans-serif; }
.main-header h1 {
  font-size: 4.275em; }
  @media only screen and (min-width: 40em) {
    .main-header h1 {
      font-size: 5.063em; } }

.menu a:hover {
  color: #1780ba; }

.main-header li > a,
.main-footer li > a {
  font-size: 0.85em;
  padding: .75em; }

h2,
h3 {
  font-family: "Yantramanav", Helvetica, Verdana, Arial, sans-serif; }

h2 {
  font-size: 2.25em;
  font-weight: 700;
  margin: 0; }
  @media only screen and (min-width: 40em) {
    h2 {
      font-size: 4.275em; } }

h3 {
  font-size: 1.5em;
  font-weight: 700;
  padding-top: 24px; }
  @media only screen and (min-width: 40em) {
    h3 {
      font-size: 2.25em;
      padding-top: 36px;
      text-align: center; } }

.work-header span,
.about-header span,
.contact-header span {
  font-size: 1em; }
  @media only screen and (min-width: 64em) {
    .work-header span,
    .about-header span,
    .contact-header span {
      font-size: 1.5em; } }

.about p:last-of-type {
  margin-bottom: 12px; }
.about ul {
  margin-left: 0; }
  @media only screen and (min-width: 40em) {
    .about ul {
      margin-left: 1.25rem; } }
  .about ul li {
    display: inline;
    font-size: 1em;
    font-weight: 500; }
    @media only screen and (min-width: 64em) {
      .about ul li {
        font-size: 1.5em; } }

a[href*="http://"] {
  color: #1780ba;
  font-family: "Yantramanav", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 700; }
  a[href*="http://"]:hover {
    color: #C29B71; }

.social-media {
  margin-top: 24px; }
  .social-media a {
    color: #C29B71;
    font-size: 1.5em;
    margin: 0 8px; }

.fa-twitter:hover {
  color: #00aced; }

.fa-instagram:hover {
  color: #833ab4; }

.fa-github:hover {
  color: #4183c4; }

.fa-medium:hover {
  color: #00ab6b; }

button[type=submit] {
  background: #1780ba; }
  button[type=submit]:hover {
    background: #615656; }

.white, .main-header h1,
.main-header a, .main-header li > a,
.main-footer li > a {
  color: #fff; }

.text-uppercase, .main-header h1,
.main-header a, .main-header li > a,
.main-footer li > a, h2,
h3, button[type=submit] {
  text-transform: uppercase; }

.background-default, .main-header, .web, .design, .photography, .main-footer {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

/*# sourceMappingURL=styles.css.map */
