
button {
  @extend .text-uppercase;
}

.btn-reveal {
  color: $white;
  font-size: $fourth-heading;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0 $padding * 2;
}

.btn-wrap {
  @extend .text-uppercase;
  margin: $margin * 12 0;
  @media only screen and (min-width: 40em) {
    margin-top: $margin * 18;
  }
  button,
  a {
    color: $white;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 $margin * 8;
  }
}

button[type=submit] {
  @extend .text-uppercase;
  background: $black;
  &:hover {
    background: $gold;
  }
}

