
.white {
  color: $white;
}

.text-uppercase {
  text-transform: uppercase;
}

.background-default {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.a-text {
  color: $blue;
  font-family: $primary-font;
  font-weight: 700;
  &:hover {
    color: $gold;
  }
}

btn-hover {
  &:hover {
    color: darken($black, 20%);
  }
}