
.white {
  color: $white;
}

.text-uppercase {
  text-transform: uppercase;
}

.background-default {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

btn-hover {
  &:hover {
    color: darken($black, 20%);
  }
}