
// main-header
.main-header {
  @include background($secondary-black-overlay, url("https://hd.unsplash.com/photo-1431290909782-1d60c011627b"));
  @extend .background-default;
}

// navigation

.title-bar,
.top-bar,
.top-bar ul {
  background: transparent;
  .menu-centered {
      margin-top: $margin * -21;
      @media only screen and (min-width: 40em) {
        margin-top: 0;
    }
  }
}

.hero {
  padding: $padding * 54 0 $padding * 84;
  @media only screen and (min-width: 40em) {
    padding: $padding * 72 0 $padding * 108;
  }
}

// .work 
.work {
  .work-section {
    border-bottom: 2px solid $white;
    font-weight: 700;
    padding: $padding * 56 0;
    @media only screen and (min-width: 40em) {
      padding: $padding * 84 0;
    }
    a {
      padding: $padding * 2.5 $padding *5;
    }
  }
}

// section headers
.work-header,
.about-header,
.contact-header {
  padding: $padding * 24 .625rem $padding * 12;
  @media only screen and (min-width: 40em) {
    padding: $padding * 48 .9375rem $padding * 12;
  }
}

// section headers
.web-header,
.design-header {
  margin: 0 auto;
  padding: $padding * 48 .625rem $padding * 12;
  @media only screen and (min-width: 40em) {
    padding-right: .9375rem;
    padding-left: .9375rem;
  }
}

.web,
.design{
  a {
    border: 2px solid $white;
    color: $white;
    &:hover {
      background: $white;
    }
  }
}

.web {
  @include background($black-overlay, image-url("macbook.jpg"), $black);
  @extend .background-default;
  a:hover {
    color: $black;
  }
}
.design {
  @include background($gold-overlay, image-url("notebook.jpg"), $gold);
  @extend .background-default;
  a:hover {
    color: $gold;
  }
}

.subjects-space {
  padding: 0 .625rem;
  @media only screen and (min-width: 40em) {
    padding: 0 .9375rem;
  }
.subjects {
  @include background($black-gold-overlay, image-url("startup_workspace.jpg"));
  @extend .background-default;
  color: $white;
  margin-top: $margin * 36;
  padding: $padding * 12 0;
  @media only screen and (min-width: 40em) {
    padding: $padding * 24 0;
    }
  }
}

.about-list {
  margin-left: 0;
  padding-bottom: $padding * 4;
}

.contact {
  margin-bottom: $margin * 18;
form {
  [type="text"], 
  [type="email"] {
    height: 1.875em;
    margin-bottom: $margin * 4;
    padding: 0 .5rem;
  }
  textarea {
    height: 5.25rem;
    }
  }
}

.main-footer {
  @include background($black);
  @extend .background-default;
  padding-top: $padding * 4;
  .menu-centered {
    margin-top: 0;
  }
}

///////////////////////////
/// project pages ///
//////////////////////////

.first-project-wrap {
  margin: $margin * 3 auto;
}

.project-description {
  background: transparentize($black, 0.2);
  color: $white;
  padding: $padding * 12;
  li {
    display: inline-block;
  }
}

.project-initial {
  border-bottom: 5px solid $gold;
  margin-bottom: $margin * 12;
  padding: $padding * 124 0 0;
  @include transition(2s);
  @media only screen and (min-width: 40em) {
    padding: $padding * 144 0 0;
  }
  @media only screen and (min-width: 64em) {
    margin-bottom: $margin * 12;
    padding: $padding * 156 0 0;
  }
}

.project-click {
  margin-bottom: $margin * 12;
  @include transition(2s);
  @media only screen and (min-width: 40em) {
  }
  @media only screen and (min-width: 64em) {
    margin-bottom: $margin * 14;
  }
}

/////////////////////////////////////////////
/// web design & development ///
////////////////////////////////////////////
.dapper {
  @include background($secondary-black-gold-overlay, image-url("dapper.png"), $black);
  @extend .background-default;
}

.aerom-web {
  @include background($secondary-black-gold-overlay, image-url("aerom.png"), $black);
  @extend .background-default;
}
.digim {
  @include background($secondary-black-gold-overlay, image-url("digim.png"), $gold);
  @extend .background-default;
}
.ocean_blue {
  @include background($secondary-black-gold-overlay, image-url("ocean_blue.png"), $black);
  @extend .background-default;
}
.movie_api {
  @include background($secondary-black-gold-overlay, image-url("movie_api.png"), $gold);
  @extend .background-default;
}
.summit {
  @include background($secondary-black-gold-overlay, image-url("form.png"), $black);
  @extend .background-default;
}
.coffee_lab {
  @include background($secondary-black-gold-overlay, image-url("coffee_lab.png"), $gold);
  @extend .background-default;
}

/////////////////////////////////////////////
/// design ///////////////////////////////
////////////////////////////////////////////
.mirage {
  @include background($secondary-black-gold-overlay, image-url("mirage.png"), $gold);
  @extend .background-default;
}

.compass {
  @include background($secondary-black-gold-overlay, image-url("compass.jpg"), $black);
  @extend .background-default;
}
.aerom-markup {
  @include background($secondary-black-gold-overlay, image-url("Aerom_Landing_Page.jpg"), $gold);
  @extend .background-default;
}
.evergreen {
  @include background($secondary-black-gold-overlay, image-url("evergreen_collective.jpg"), $black);
  @extend .background-default;
}
.lemon_twist {
  @include background($secondary-black-gold-overlay, image-url("Lemon_Twist.jpg"), $gold);
  @extend .background-default;
}