
// main-header
.main-header {
  @include background($secondary-black-overlay, url("https://images.unsplash.com/photo-1414146782248-462e06300dbf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5a9b3a32e4dbe24adb893d775693510d"), $black);
  @extend .background-default;
}

// navigation
.title-bar,
.top-bar,
.top-bar ul {
  background: transparent;
  .drop-menu {
    background: $black;
    border: none;
    a {
      &:hover {
        color: $gold;
      }
    }
  }
}

.hero {
  padding: $padding * 54 0 $padding * 84;
  @media only screen and (min-width: 40em) {
    padding: $padding * 72 0 $padding * 108;
  }
}

// .work 
.work {
  .work-section {
    border-bottom: 2px solid $white;
    font-weight: 700;
    padding: $padding * 56 0;
    @media only screen and (min-width: 40em) {
      padding: $padding * 84 0;
    }
    @media only screen and (min-width: 64em) {
      padding: $padding * 108 0; 
    }
    a {
      padding: $padding * 2.5 $padding *5;
    }
  }
}

// section headers
.work-header,
.about-header,
.contact-header {
  padding: $padding * 12 0 $padding * 18;
  @media only screen and (min-width: 40em) {
    padding: $padding * 24 0 $padding * 48;
  }
}

// section headers
.web-header,
.design-header {
  padding: $padding * 24 0 $padding * 48;
}

.web,
.design,
.photography {
  a {
    border: 2px solid $white;
    color: $white;
    &:hover {
      background: $white;
    }
  }
}

.web {
  @include background($black-overlay, image-url("macbook.jpg"), $black);
  @extend .background-default;
  a:hover {
    color: $black;
  }
}
.design {
  @include background($gold-overlay, image-url("notebook.jpg"), $gold);
  @extend .background-default;
  a:hover {
    color: $gold;
  }
}

.subjects {
  @media only screen and (min-width: 64em) {
  padding: $padding * 9 0;
  }
}

.contact {
  margin-bottom: $margin * 18;
form {
  [type="text"], 
  [type="email"] {
    height: 1.875em;
    margin-bottom: $margin * 4;
    padding: 0 .5rem;
  }
  textarea {
    height: 5.25rem;
    }
  }
}

.main-footer {
  @include background($secondary-black-overlay, url("https://images.unsplash.com/photo-1446034295857-c39f8844fad4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=231736de0bc92d79a6ee049208b9c283"), $black);
  @extend .background-default;
  padding-top: $padding * 8;
}

///////////////////////////
/// project pages ///
//////////////////////////

.project-description {
  background: $black;
  color: $white;
  padding: $padding * 12;
  li {
    display: inline-block;
  }
}

.project-initial {
  margin-bottom: $margin * 12;
  padding: $padding * 62 0;
  @include transition(2s);
  @media only screen and (min-width: 40em) {
    padding: $padding * 72 0;
  }
  @media only screen and (min-width: 64em) {
    margin-bottom: $margin * 14;
    padding: $padding * 78 0;
  }
}

.project-click {
  margin-bottom: $margin * 12;
  @include transition(2s);
  @media only screen and (min-width: 40em) {
  }
  @media only screen and (min-width: 64em) {
    margin-bottom: $margin * 14;
  }
}

/////////////////////////////////////////////
/// web design & development ///
////////////////////////////////////////////
.dapper {
  border: 1px solid $black;
  @include background(image-url("dapper.png"), $black);
  @extend .background-default;
}

.aerom-web {
  border: 1px solid $black;
  @include background(image-url("aerom.png"), $black);
  @extend .background-default;
}
.digim {
  border: 1px solid $black;
  @include background(image-url("digim.png"), $gold);
  @extend .background-default;
}
.ocean_blue {
  border: 1px solid $black;
  @include background(image-url("ocean_blue.png"), $black);
  @extend .background-default;
}
.movie_api {
  border: 1px solid $black;
  @include background(image-url("movie_api.png"), $gold);
  @extend .background-default;
}
.summit {
  border: 1px solid $black;
  @include background(image-url("form.png"), $black);
  @extend .background-default;
}
.coffee_lab {
  border: 1px solid $black;
  @include background(image-url("coffee_lab.png"), $gold);
  @extend .background-default;
}

/////////////////////////////////////////////
/// design ///////////////////////////////
////////////////////////////////////////////
.mirage {
  border: 1px solid $black;
  @include background(image-url("mirage.png"), $gold);
  @extend .background-default;
}

.compass {
  border: 1px solid $black;
  @include background(image-url("compass.jpg"), $black);
  @extend .background-default;
}
.aerom-markup {
  border: 1px solid $black;
  @include background(image-url("Aerom_Landing_Page.jpg"), $gold);
  @extend .background-default;
}
.evergreen {
  border: 1px solid $black;
  @include background(image-url("evergreen_collective.jpg"), $black);
  @extend .background-default;
}
.lemon_twist {
  border: 1px solid $black;
  @include background(image-url("Lemon_Twist.jpg"), $gold);
  @extend .background-default;
}