
// Global typography 
body {
  color: $black;
  font-family: $primary-font;
}

h1 {
  font-size: $secondary-heading;
  @media only screen and (min-width: 40em) {
    font-size: $primary-heading;
  }
}

h2,
h3 {
  @extend .text-uppercase;
  font-family: $primary-font;
}

h2 {
  font-size: $third-heading;
  font-weight: 700;
  margin: 0;
  @media only screen and (min-width: 40em) {
    font-size: $secondary-heading;
  }
}

h3 {
  font-size: $fourth-heading;
  font-weight: 700;
  padding-top: $padding * 12;
  @media only screen and (min-width: 40em) {
    font-size: $third-heading;
    padding-top: $padding * 18;
    text-align: center;
  }
}

h4 {
  @extend .text-uppercase;
  font-size: $fourth-heading;
  margin-bottom: $margin * 5;
}

p {
  line-height: 1.8;
  font-family: $secondary-font;
  font-size: $small-font-size;
  @media only screen and (min-width: 40em) {
    font-size: $base-font-size;
  }
}

li {
  list-style: none;
}

hr {
  border-bottom: 2px solid $gold;
  margin: $margin * 5 auto;
}

.hide-letter {
  display: none;
}

// .main-header
.main-header {
  h1, 
  a {
    @extend .white;
    @extend .text-uppercase;
    font-family: $primary-font;
  }
}

//.navigation
.menu {
  a {
    &:hover {
    border-bottom: 2px solid $gold;
    color: $gold;
    margin: .75em;
    padding: 0;
    } 
  }  
}

.drop-menu {
  a {
  &:hover {
      border: none;
    }
  }
}

.dropdown.menu>li.is-dropdown-submenu-parent>a:after {
  border-color: $white transparent transparent;
  right: 10px;
  top: 16px;
}
//.main-header and .main-footer default styles
.main-header,
.main-footer {
  li > a {
    @extend .white;
    @extend .text-uppercase;
    font-size: $small-font-size;
    padding: .75em;
  }
}

.work-header,
.about-header,
.contact-header,
.web-header {
  span {
    font-size: $base-font-size;
    @media only screen and (min-width: 64em) {
      font-size: $fourth-heading;
    }
  }
}

// .about
.about {
  h3 {
    padding: $padding * 32 0 $padding * 6;
    @media only screen and (min-width: 40em) {
      padding: $padding * 48 0 $padding * 12;
    }
  }
  p {
    &:last-of-type {
      margin-bottom: $margin * 6;
    }
  }
}

a[href*="http://"],
a[href*="https://"],
a[href*="mailto"] {
  color: $gold;
  font-family: $primary-font;
  font-weight: 700;
  &:hover {
    text-decoration: underline;
    text-transform: uppercase;
  }
}

// .social-media icons
.social-media {
  margin-top: $margin * 12;
  a {
    color: $gold;
    font-size: $fourth-heading;
    margin: 0 $margin * 4;
  }
  i {
    &:hover {
      animation-name: social-hover;
      animation-duration: .84s;
    }
  }
}

// .social-media hovers 
.fa-twitter {
  &:hover {
    color: $twitter;
  }
}
.fa-instagram {
  &:hover {
    color: $instagram
    ;
  }
}
.fa-github {
  &:hover {
    color: $github;
  }
}
.fa-behance-square {
  &:hover {
    color: $behance;
  }
}

.project-header {
  margin-bottom: 0;
}

// import font awesome
@import url('//use.fontawesome.com/releases/v4.6.3/css/font-awesome-css.min.css');@font-face{font-family:'FontAwesome';src:url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.eot');src:url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.woff2') format('woff2'),
url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.woff') format('woff'),
url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.ttf') format('truetype'),
url('//use.fontawesome.com/releases/v4.6.3/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}

