
// Global typography 
body {
  color: $black;
  font-family: $primary-font;
}

h1 {
  font-size: $secondary-heading;
  @media only screen and (min-width: 40em) {
    font-size: $primary-heading;
  }
}

h2,
h3 {
  @extend .text-uppercase;
  font-family: $primary-font;
}

h2 {
  font-size: $third-heading;
  font-weight: 700;
  margin: 0;
  @media only screen and (min-width: 40em) {
    font-size: $secondary-heading;
  }
}

h3 {
  font-size: $fourth-heading;
  font-weight: 700;
  padding-top: $padding * 12;
  @media only screen and (min-width: 40em) {
    font-size: $third-heading;
    padding-top: $padding * 18;
    text-align: center;
  }
}

h4 {
  @extend .text-uppercase;
  font-size: $fourth-heading;
  margin-bottom: $margin * 5;
}

p {
  line-height: 1.8;
  font-family: $secondary-font;
  font-size: $small-font-size;
  @media only screen and (min-width: 40em) {
    font-size: $base-font-size;
  }
}

li {
  list-style: none;
}

hr {
  border-bottom: 1px solid $gold;
}

// .main-header
.main-header {
  h1, 
  a {
    @extend .white;
    @extend .text-uppercase;
    font-family: $primary-font;
  }
}

//.navigation
.menu {
  a {
    &:hover {
      color: $gold;
    } 
  }
}

.dropdown.menu>li.is-dropdown-submenu-parent>a:after {
  border-color: $white transparent transparent;
  right: 10px;
  top: 16px;
}
//.main-header and .main-footer default styles
.main-header,
.main-footer {
  li > a {
    @extend .white;
    @extend .text-uppercase;
    font-size: $small-font-size;
    padding: .75em;
  }
}

.work-header,
.about-header,
.contact-header,
.web-header {
  span {
    font-size: $base-font-size;
    @media only screen and (min-width: 64em) {
      font-size: $fourth-heading;
    }
  }
}

// .about
.about {
  p {
    &:last-of-type {
      margin-bottom: $margin * 6;
    }
  }
  ul {
    margin-left: 0;
    @media only screen and (min-width: 40em) {
      margin-left: 1.25rem;
    }
    li {
      display: inline;
      font-size: $base-font-size;
      font-weight: 500;
      @media only screen and (min-width: 64em) {
        font-size: $fourth-heading;
      }
    }
  }
}

a[href*="http://"] {
  @extend .a-text;
}

// .social-media icons
.social-media {
  margin-top: $margin * 12;
  a {
    color: $gold;
    font-size: $fourth-heading;
    margin: 0 $margin * 4;
  }
  i {
    &:hover {
      animation-name: social-hover;
      animation-duration: .84s;
    }
  }
}

// .social-media hovers 
.fa-twitter {
  &:hover {
    color: $twitter;
  }
}
.fa-instagram {
  &:hover {
    color: $instagram
    ;
  }
}
.fa-github {
  &:hover {
    color: $github;
  }
}
.fa-behance-square {
  &:hover {
    color: $behance;
  }
}

.project-header {
  margin-bottom: 0;
}

.project-p {
  @extend .white;
  .project-a {
    &:hover {
      color: $black;
    } 
  }
}


