
[submodule "digim_marketing"]
	path = digim_marketing
	url = https://github.com/nicholasgreen94/digim_marketing.git

[submodule "portfolio/websites/dapper"]
	path = portfolio/websites/dapper
	url = https://github.com/nicholasgreen94/dapper.git
