

button.small {
  background: transparent;
  border: 1px solid $white;
  font-weight: 700;
  @extend text-lowercase;
  @include margin(32, 0, 0, 0);
  @media only screen and (min-width: 40em) {
    @include margin(52, 0, 0, 0);
  }
  &:hover {
    background: $white;
    color: $lighten-black-1;
  }
}

.button-collapse {
  font-size: $secondary-header;
  font-weight: 300;
  @include margin(-12, 0, 0, 12);
  &:hover {
    cursor: pointer;
  }
}