
// Colors 


$white: #fff;
$black: #000;
$lighten-black-1: lighten($black, 30%);

// Fonts
$primary-font: "Josefin Sans", helvetica, verdana, arial, sans-serif;

// Font Sizes
$primary-header: 2.441em;
$secondary-header: 1.953em;
$third-header: 1.563em;
$fourth-header: 1.25em;
$primary-font-size: 1em;
$small-font-size: 0.8em;


