/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/_extends.scss */
text-white {
  color: #fff;
}

/* line 6, ../sass/_extends.scss */
text-lowercase, button.small, .menu li
> a, h1, h2, h3 {
  text-transform: lowercase;
}

/* line 3, ../sass/_buttons.scss */
button.small {
  background: transparent;
  border: 1px solid #fff;
  font-weight: 700;
  margin-top: 32px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
@media only screen and (min-width: 40em) {
  /* line 3, ../sass/_buttons.scss */
  button.small {
    margin-top: 52px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}
/* line 12, ../sass/_buttons.scss */
button.small:hover {
  background: #fff;
  color: #4d4d4d;
}

/* line 18, ../sass/_buttons.scss */
.button-collapse {
  font-size: 1.953em;
  font-weight: 300;
  margin-top: -12px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 12px;
}
/* line 22, ../sass/_buttons.scss */
.button-collapse:hover {
  cursor: pointer;
}

/* line 2, ../sass/_logos.scss */
.menu .img-link {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 6px;
  margin-left: 0px;
}

/* line 8, ../sass/_logos.scss */
.mobile-nav .dapper_logo {
  width: 150px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 6px;
  margin-left: 0px;
}

/* line 14, ../sass/_logos.scss */
.dapper_logo {
  width: 100px;
}

/* line 18, ../sass/_logos.scss */
.jackets_logo,
.shirts_logo,
.pants_logo,
.shoes_logo,
.watches_logo,
.accessory_logo {
  width: 100px;
}
@media only screen and (min-width: 40em) {
  /* line 18, ../sass/_logos.scss */
  .jackets_logo,
  .shirts_logo,
  .pants_logo,
  .shoes_logo,
  .watches_logo,
  .accessory_logo {
    width: 200px;
  }
}

/* line 30, ../sass/_logos.scss */
.products_logo {
  width: 200px;
}

/* line 3, ../sass/_typography.scss */
.menu li
> a {
  color: #000;
  font-family: "Josefin Sans", helvetica, verdana, arial, sans-serif;
  font-size: 1em;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}
/* line 10, ../sass/_typography.scss */
.menu li
> a:hover {
  text-transform: uppercase;
}

/* line 17, ../sass/_typography.scss */
.main-footer a {
  color: #000;
  font-size: 1.25em;
  font-weight: 700;
}
/* line 21, ../sass/_typography.scss */
.main-footer a:hover {
  font-weight: 400;
}

/* line 27, ../sass/_typography.scss */
.established {
  padding-top: 84px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

/* line 30, ../sass/_typography.scss */
.location-heading {
  padding-top: 64px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
@media only screen and (min-width: 64em) {
  /* line 30, ../sass/_typography.scss */
  .location-heading {
    padding-top: 144px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}

/* line 38, ../sass/_typography.scss */
h2 span,
h2 address {
  font-size: 0.8em;
  font-weight: 200;
}
/* line 43, ../sass/_typography.scss */
h2 a {
  color: #000;
  -moz-transition: 0.84s;
  -o-transition: 0.84s;
  -webkit-transition: 0.84s;
  transition: 0.84s;
}
/* line 46, ../sass/_typography.scss */
h2 a:hover {
  color: #000;
  font-size: 1.25em;
}

/* line 53, ../sass/_typography.scss */
.phone,
.email {
  padding-top: 64px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
@media only screen and (min-width: 40em) {
  /* line 53, ../sass/_typography.scss */
  .phone,
  .email {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}

/* line 2, ../sass/_sidebars.scss */
.product-sidebar {
  background: #fff;
  height: 80%;
  position: fixed;
  left: 12.5%;
  width: 285px;
  z-index: 999;
}
@media only screen and (min-width: 40em) {
  /* line 2, ../sass/_sidebars.scss */
  .product-sidebar {
    left: 36%;
    height: 80%;
  }
}
@media only screen and (min-width: 64em) {
  /* line 2, ../sass/_sidebars.scss */
  .product-sidebar {
    left: 18%;
    height: 80%;
    width: 800px;
  }
}
/* line 19, ../sass/_sidebars.scss */
.product-sidebar li:hover {
  background: #000;
}
/* line 22, ../sass/_sidebars.scss */
.product-sidebar li a {
  color: #000;
  display: block;
  font-size: 1.25em;
  font-weight: 700;
  text-transform: lowercase;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 72px;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 5px;
  padding-left: 0px;
}
/* line 30, ../sass/_sidebars.scss */
.product-sidebar li a:hover {
  color: #fff;
}
/* line 33, ../sass/_sidebars.scss */
.product-sidebar li a img {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 12px;
  width: 18px;
}

/* line 41, ../sass/_sidebars.scss */
#product-navigation {
  width: 300px;
  padding-top: 24px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
@media only screen and (min-width: 40em) {
  /* line 41, ../sass/_sidebars.scss */
  #product-navigation {
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}

/* line 49, ../sass/_sidebars.scss */
.img-list {
  width: 500px;
  display: none;
}
@media only screen and (min-width: 64em) {
  /* line 49, ../sass/_sidebars.scss */
  .img-list {
    display: inline-block;
  }
}
/* line 55, ../sass/_sidebars.scss */
.img-list img {
  position: relative;
  top: -311.5px;
}

/* line 61, ../sass/_sidebars.scss */
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

/* line 5, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/_globals.scss */
body {
  line-height: 1.8;
  font-family: "Josefin Sans", helvetica, verdana, arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
}

/* line 11, ../sass/_globals.scss */
.row {
  max-width: 100%;
}

/* line 15, ../sass/_globals.scss */
h1 {
  color: #fff;
  font-size: 1.953em;
  font-weight: 700;
  padding-top: 384px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 18px;
}
@media only screen and (min-width: 40em) {
  /* line 15, ../sass/_globals.scss */
  h1 {
    font-size: 2.441em;
    padding-top: 376px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 12px;
  }
}
@media only screen and (min-width: 64em) {
  /* line 15, ../sass/_globals.scss */
  h1 {
    padding-top: 442px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 32px;
  }
}

/* line 30, ../sass/_globals.scss */
h2 {
  font-size: 1.953em;
  font-weight: 700;
}

/* line 36, ../sass/_globals.scss */
h3 {
  color: #fff;
  font-size: 1.25em;
  font-weight: 700;
  padding-top: 114px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}
@media only screen and (min-width: 40em) {
  /* line 36, ../sass/_globals.scss */
  h3 {
    font-size: 1.563em;
    padding-top: 172px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
  }
}

/* line 48, ../sass/_globals.scss */
h4 {
  font-size: 1.953em;
  text-transform: lowercase;
}

/* line 53, ../sass/_globals.scss */
h5 {
  font-size: 1.953em;
  text-transform: lowercase;
  padding-top: 32px;
  padding-right: 0px;
  padding-bottom: 32px;
  padding-left: 0px;
}

/* line 59, ../sass/_globals.scss */
hr {
  border-bottom: 1px solid #000;
  width: 250px;
  margin-top: 0px;
  margin-right: autopx;
  margin-bottom: 0px;
  margin-left: autopx;
}

/* line 3, ../sass/_layout.scss */
.main-header {
  background: url("https://hd.unsplash.com/photo-1467843182948-36a9b559865e");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 96% 100%;
  height: 434px;
}
@media only screen and (min-width: 40em) {
  /* line 3, ../sass/_layout.scss */
  .main-header {
    background-position: 100% 50%;
  }
}
@media only screen and (min-width: 64em) {
  /* line 3, ../sass/_layout.scss */
  .main-header {
    height: 502px;
  }
}

/* line 17, ../sass/_layout.scss */
.mobile-nav {
  height: 60px;
  margin-top: 32px;
  margin-right: 0px;
  margin-bottom: 64px;
  margin-left: 0px;
}
@media only screen and (min-width: 40em) {
  /* line 17, ../sass/_layout.scss */
  .mobile-nav {
    display: none;
  }
}
/* line 23, ../sass/_layout.scss */
.mobile-nav .top-bar {
  margin-top: 13px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
/* line 26, ../sass/_layout.scss */
.mobile-nav .title-bar,
.mobile-nav .top-bar,
.mobile-nav .menu {
  background: #fff;
}

/* line 34, ../sass/_layout.scss */
.main-nav {
  display: none;
  height: 60px;
}
@media only screen and (min-width: 40em) {
  /* line 34, ../sass/_layout.scss */
  .main-nav {
    display: block;
    margin-top: 64px;
    margin-right: 0px;
    margin-bottom: 12px;
    margin-left: 0px;
  }
}
/* line 41, ../sass/_layout.scss */
.main-nav .top-bar {
  margin-top: 13px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
/* line 44, ../sass/_layout.scss */
.main-nav .title-bar,
.main-nav .top-bar,
.main-nav .menu {
  background: #fff;
}

/* line 51, ../sass/_layout.scss */
.products {
  margin-top: 24px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
@media only screen and (min-width: 40em) {
  /* line 51, ../sass/_layout.scss */
  .products {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

/* line 59, ../sass/_layout.scss */
.jackets, .shirts, .pants, .shoes, .watches, .accessories {
  margin-top: 32px;
  margin-right: 0px;
  margin-bottom: 12px;
  margin-left: 0px;
}
@media only screen and (min-width: 40em) {
  /* line 59, ../sass/_layout.scss */
  .jackets, .shirts, .pants, .shoes, .watches, .accessories {
    margin-top: 64px;
    margin-right: 0px;
    margin-bottom: 24px;
    margin-left: 0px;
  }
}
/* line 64, ../sass/_layout.scss */
.jackets .jacket-info, .shirts .jacket-info, .pants .jacket-info, .shoes .jacket-info, .watches .jacket-info, .accessories .jacket-info, .shirts .shirt-info, .pants .pant-info, .shoes .shoes-info, .watches .watch-info, .accessories .accessories-info {
  background: url("https://hd.unsplash.com/photo-1458762671984-b6d9ff0b327b");
  height: 384px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 22.5% 100%;
}
@media only screen and (min-width: 64em) {
  /* line 64, ../sass/_layout.scss */
  .jackets .jacket-info, .shirts .jacket-info, .pants .jacket-info, .shoes .jacket-info, .watches .jacket-info, .accessories .jacket-info, .shirts .shirt-info, .pants .pant-info, .shoes .shoes-info, .watches .watch-info, .accessories .accessories-info {
    height: 486px;
  }
}

/* line 77, ../sass/_layout.scss */
.shirts .shirt-info {
  background: url("https://hd.unsplash.com/photo-1442328166075-47fe7153c128");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 40em) {
  /* line 77, ../sass/_layout.scss */
  .shirts .shirt-info {
    background-position: 0% 0%;
  }
}

/* line 89, ../sass/_layout.scss */
.pants .pant-info {
  background: url("https://hd.unsplash.com/photo-1463676403413-f2216651e8a3");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 40em) {
  /* line 89, ../sass/_layout.scss */
  .pants .pant-info {
    background-position: 0% 0%;
  }
}

/* line 101, ../sass/_layout.scss */
.shoes .shoes-info {
  background: url("https://hd.unsplash.com/photo-1444062069505-351e1ed9eae7");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 40em) {
  /* line 101, ../sass/_layout.scss */
  .shoes .shoes-info {
    background-position: 0% 0%;
  }
}

/* line 113, ../sass/_layout.scss */
.watches .watch-info {
  background: url("https://hd.unsplash.com/photo-1434056886845-dac89ffe9b56");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 40em) {
  /* line 113, ../sass/_layout.scss */
  .watches .watch-info {
    background-position: 100% 100%;
  }
}

/* line 125, ../sass/_layout.scss */
.accessories .accessories-info {
  background: url("https://hd.unsplash.com/photo-1459356979461-dae1b8dcb702");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 40em) {
  /* line 125, ../sass/_layout.scss */
  .accessories .accessories-info {
    background-position: 0% 50%;
  }
}

/* line 135, ../sass/_layout.scss */
.main-footer {
  height: 60px;
  margin-top: 64px;
  margin-right: 0px;
  margin-bottom: 64px;
  margin-left: 0px;
}
/* line 138, ../sass/_layout.scss */
.main-footer .social-media {
  list-style-type: none;
}
/* line 6, ../../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/typography/lists/_inline-list.scss */
.main-footer .social-media, .main-footer .social-media li {
  margin: 0;
  padding: 0;
  display: inline;
}
/* line 140, ../sass/_layout.scss */
.main-footer .social-media ul {
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}
/* line 142, ../sass/_layout.scss */
.main-footer .social-media ul li {
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
}
/* line 144, ../sass/_layout.scss */
.main-footer .social-media ul li a {
  color: #000;
  font-size: 1.25em;
  -moz-transition: 0.54s;
  -o-transition: 0.54s;
  -webkit-transition: 0.54s;
  transition: 0.54s;
}
@media only screen and (min-width: 40em) {
  /* line 144, ../sass/_layout.scss */
  .main-footer .social-media ul li a {
    font-size: 1.563em;
  }
}
/* line 151, ../sass/_layout.scss */
.main-footer .social-media ul li a i {
  -moz-transition: 0.46s;
  -o-transition: 0.46s;
  -webkit-transition: 0.46s;
  transition: 0.46s;
}
/* line 153, ../sass/_layout.scss */
.main-footer .social-media ul li a i:hover {
  -moz-transform: scale(1.25, 1.25);
  -ms-transform: scale(1.25, 1.25);
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}

/* line 164, ../sass/_layout.scss */
.about-header {
  background: url("https://hd.unsplash.com/photo-1431277366844-244b1451984d");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 76%;
}

@media only screen and (min-width: 64em) {
  /* line 170, ../sass/_layout.scss */
  .about-content,
  .contact-info {
    padding-top: 124px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}

@media only screen and (min-width: 64em) {
  /* line 177, ../sass/_layout.scss */
  .location {
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 0px;
  }
}

/* line 183, ../sass/_layout.scss */
#map {
  height: 300px;
  margin-top: 12px;
  margin-right: autopx;
  margin-bottom: 0px;
  margin-left: autopx;
}
@media only screen and (min-width: 64em) {
  /* line 183, ../sass/_layout.scss */
  #map {
    margin-top: 84px;
    margin-right: autopx;
    margin-bottom: 0px;
    margin-left: autopx;
  }
}

/* line 191, ../sass/_layout.scss */
.about-picture {
  height: 384px;
  background: url("https://hd.unsplash.com/photo-1432599506048-7522c767f671");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 32px;
  margin-right: 0px;
  margin-bottom: 12px;
  margin-left: 0px;
}
@media only screen and (min-width: 40em) {
  /* line 191, ../sass/_layout.scss */
  .about-picture {
    height: 486px;
    margin-top: 132px;
    margin-right: 0px;
    margin-bottom: 24px;
    margin-left: 0px;
  }
}

/* line 203, ../sass/_layout.scss */
.contact-header {
  background: url("https://hd.unsplash.com/photo-1462907715766-a2863567b2a4");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 76%;
}

/* line 209, ../sass/_layout.scss */
.return-policy {
  margin-top: 48px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
