
// Colors
$blue: #053761;
$coral: #ff7f50;
$white: #fff;

// fonts
$main-font: "Abel", helvetica, arial, verdana, sans-serif;
$seconary-font: "Amiri", georgia, serif;

// font-size 
$main-heading: 5.063em;
$secondary-heading: 3.375em;
$third-heading: 2.25em;
$fourth-heading: 1.5em;
$base-font-size: 1em;

// margin & padding 
$margin: 2px;
$padding: 2px;

// media query width 

$medium: 720px;