
@import url("fonts/Butler_Bold.otf");

// .main-header 

body {
  font-family: $secondary-font;
}

a {
  &:hover {
    color: $navy_blue;
  }
}

h1 {
  @extend .white;
  @extend .text-uppercase;
  font-family: $primary-font;
  font-size: $secondary-heading;
  padding-top: $padding * 32;
  margin-bottom: 0;
  @media only screen and (min-width: 40em) {
    font-size: $primary-heading;
  }
}

h2 {
  @extend .text-uppercase;
  font-family: $primary-font;
  font-size: $fourth-heading;
  @media only screen and (min-width: 40em) {
    font-size: $third-heading;
  }
}

h3 {
  @extend .text-uppercase;
  font-family: $secondary-font;
  font-size: $base-font-size;
  font-weight: 300;
  margin: $margin * 24 0 $margin * 48;
  @media only screen and (min-width: 40em) {
    font-size: $fourth-heading;
  }
}

h4 {
  color:$grey;
  @extend .text-uppercase;
  font-family: $primary-font;
  font-size: $base-font-size;
  padding-top: $padding * 7;
  @media only screen and (min-width: 40em) {
    font-size: $fourth-heading;
    padding-top: $padding * 12;
  }
}

span {
  @extend .white;
  @extend .text-uppercase;
  display: block;
  font-size: $fourth-heading;
  font-weight: 200;
  margin-top: $margin * -6;
  @media only screen and (min-width: 40em) {
    margin-top: $margin * -12;
  }
}

.company-info {
  h2 {
    margin-bottom: $margin * -8;
  }
}

blockquote {
  @extend .text-uppercase;
  color: $grey;
  font-size: $base-font-size;
  font-weight: 300;
  margin-top: -8px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: $margin * 5;
  @media only screen and (min-width: 40em) {
    padding-bottom: $margin * 10;
  }
}

hr {
  border-bottom: 1px solid$grey;
  transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  width: 50px;
  @media only screen and (min-width: 40em) {
    width: 75px;
  }
}

figure {
  figcaption {
    @extend .text-uppercase;
    font-family: $secondary-font;
    letter-spacing: 2px;
    font-size: $small-font-size;
    padding: $padding * 5 0;
  }
}

address {
  font-style: normal;
}

.mission-statement {
  h3 {
    @extend .text-uppercase;
    font-family: $secondary-font;
    font-size: $base-font-size;
    font-weight: 300;
    margin: $margin * 24 0 $margin * 6;
    @media only screen and (min-width: 40em) {
      font-size: $fourth-heading;
    }
  }
  p {
    font-size: .85em;
  }
}

.collection {
  p {
    font-size: 0.75em;
    padding: $padding * 6 $padding * 6 0;
    @media only screen and (min-width: 64em) {
      font-size: $small-font-size;
      padding: $padding * 12 $padding * 12 0;
    }
  }
}


.contact {
  color: $grey;
  .contact-method {
    padding: $padding * 8 0;
    i {
      color: $grey;
      font-size: $secondary-heading;
      font-weight: 100;
      margin-bottom: $margin * 4;
    }
  }
}



footer {
  a {
    @extend .white;
    @extend .text-uppercase;
    font-family: $primary-font;
    font-weight: 700;
  }
}