
// Colors 
$white: #fff;


// Fonts 
$primary-font: Butler, Baskerville;
$secondary-font: "Fira Sans", Helvetica, arial, verdana, sans-serif;

// Font size 
$primary-heading: 5.063em;
$secondary-heading: 3.375em	;
$third-heading: 2.25em;
$fourth-heading: 1.5em;
$base-font-size: 1em;
$small-font-size: 0.85em;

// Margin & Padding 
$margin: 2px;
$padding: 2px;