@font-face {
  font-family: 'Butler';
  src: url("fonts/Butler_Regular.otf");
  src: local("Butler_Regular"), local("Butler_Regular"), url("fonts/Butler_Regular.otf") format("opentype"); }
body {
  font-family: "Fira Sans", Helvetica, arial, verdana, sans-serif; }

a:hover {
  color: #003366; }

h1 {
  font-family: Butler, Baskerville;
  font-size: 3.375em;
  font-weight: 400;
  padding-top: 64px;
  margin-bottom: 0; }
  @media only screen and (min-width: 40em) {
    h1 {
      font-size: 5.063em; } }

h2 {
  font-family: Butler, Baskerville;
  font-size: 1.5em; }
  @media only screen and (min-width: 40em) {
    h2 {
      font-size: 2.25em; } }

h3 {
  font-family: "Fira Sans", Helvetica, arial, verdana, sans-serif;
  font-size: 1em;
  font-weight: 300;
  margin: 48px 0 96px; }
  @media only screen and (min-width: 40em) {
    h3 {
      font-size: 1.5em; } }

h4 {
  color: #424141;
  font-family: Butler, Baskerville;
  font-size: 1em;
  padding-top: 14px; }
  @media only screen and (min-width: 40em) {
    h4 {
      font-size: 1.5em;
      padding-top: 24px; } }

span {
  display: block;
  font-size: 1.5em;
  font-weight: 200;
  margin-top: -12px; }
  @media only screen and (min-width: 40em) {
    span {
      margin-top: -24px; } }

.company-info h2 {
  margin-bottom: -16px; }

blockquote {
  color: #424141;
  font-size: 1em;
  font-weight: 300;
  margin-top: -8px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 10px; }
  @media only screen and (min-width: 40em) {
    blockquote {
      padding-bottom: 20px; } }

hr {
  border-bottom: 1px solid #424141;
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  width: 50px; }
  @media only screen and (min-width: 40em) {
    hr {
      width: 75px; } }

figure figcaption {
  font-family: "Fira Sans", Helvetica, arial, verdana, sans-serif;
  letter-spacing: 2px;
  font-size: 0.85em;
  padding: 10px 0; }

address {
  font-style: normal; }

.mission-statement h3 {
  font-family: "Fira Sans", Helvetica, arial, verdana, sans-serif;
  font-size: 1em;
  font-weight: 300;
  margin: 48px 0 12px; }
  @media only screen and (min-width: 40em) {
    .mission-statement h3 {
      font-size: 1.5em; } }
.mission-statement p {
  font-size: .85em; }

.collection p {
  font-size: 0.75em;
  padding: 12px 12px 0; }
  @media only screen and (min-width: 64em) {
    .collection p {
      font-size: 0.85em;
      padding: 24px 24px 0; } }

.contact {
  color: #424141; }
  .contact .contact-method {
    padding: 16px 0; }
    .contact .contact-method i {
      color: #424141;
      font-size: 3.375em;
      font-weight: 100;
      margin-bottom: 8px; }

footer a {
  font-family: Butler, Baskerville;
  font-weight: 700; }

body {
  font-family: "Fira Sans", Helvetica, arial, verdana, sans-serif;
  max-width: 100%; }

.main-header {
  background: linear-gradient(rgba(100, 100, 100, 0.35), rgba(100, 100, 100, 0.35)), url("https://images.unsplash.com/photo-1441034281545-78296c3a6934?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a341e2a4a10656277b7535a63019dfc1");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.title-bar {
  background: transparent; }
  .title-bar .menu-icon:hover::after {
    background: #003366;
    box-shadow: 0 7px 0 #003366, 0 14px 0 #003366; }
  .title-bar .menu-icon:focus {
    outline: none; }

#navigation {
  background: transparent; }
  #navigation ul {
    background: transparent; }
    #navigation ul li > a {
      color: #fff;
      font-size: 0.85em; }
      @media only screen and (min-width: 40em) {
        #navigation ul li > a {
          font-size: 1em; } }
      #navigation ul li > a:hover {
        color: #003366; }

.hero {
  overflow: hidden;
  border-bottom: 124px solid #fff;
  border-left: 100vw solid transparent;
  padding-top: 48px; }
  @media only screen and (min-width: 40em) {
    .hero {
      border-bottom: 178px solid #fff;
      padding-top: 128px; } }

.company-info {
  margin-top: 48px;
  margin-bottom: 25px; }
  @media only screen and (min-width: 40em) {
    .company-info {
      margin-bottom: 50px; } }

.collection {
  margin: 12px 0; }
  @media only screen and (min-width: 40em) {
    .collection {
      margin: 0; } }
  .collection .notebook {
    padding: 12px 0; }
    @media only screen and (min-width: 40em) {
      .collection .notebook {
        padding: 36px 0; } }
    @media only screen and (min-width: 40em) {
      .collection .notebook img {
        width: 100%; } }

.banner {
  background: linear-gradient(rgba(100, 100, 100, 0.35), rgba(100, 100, 100, 0.35)), url("https://images.unsplash.com/photo-1456324504439-367cee3b3c32?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a8634efa3c37ba746fcddfe27388d9fb");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 38px; }
  @media only screen and (min-width: 40em) {
    .banner {
      margin-bottom: 74px; } }

.banner-hero {
  overflow: hidden;
  border-top: 64px solid #fff;
  border-bottom: 64px solid #fff;
  border-right: 100vw solid transparent;
  padding-bottom: 48px; }
  @media only screen and (min-width: 40em) {
    .banner-hero {
      border-top: 96px solid #fff;
      border-bottom: 96px solid #fff;
      padding-bottom: 128px; } }

.contact {
  margin-top: 48px; }
  .contact .contact-info {
    margin-top: 24px; }

footer {
  background: linear-gradient(rgba(100, 100, 100, 0.35), rgba(100, 100, 100, 0.35)), url("https://images.unsplash.com/photo-1462642109801-4ac2971a3a51?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=260080a969c372cbc90f7e944d705830");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.footer-hero {
  overflow: hidden;
  border-top: 124px solid #fff;
  border-left: 100vw solid transparent;
  padding-bottom: 48px; }
  @media only screen and (min-width: 40em) {
    .footer-hero {
      border-top: 178px solid #fff;
      padding-bottom: 128px; } }

.text-uppercase, h1, h2, h3, h4, span, blockquote, figure figcaption, .mission-statement h3, footer a, #navigation ul li > a, .button {
  text-transform: uppercase; }

.white, h1, span, footer a {
  color: #fff; }

.button {
  background: #003366;
  display: block;
  margin: 8px auto 16px; }
  .button:hover {
    background: #004d99; }

/*# sourceMappingURL=styles.css.map */
